.antraste{
    background-color: aquamarine;
}
.pastraipa1{
    color: red;
    background-color: bisque;
}
.pastraipa2{
    color: red;
    background-color: yellowgreen;
}
.pastraipa3{
    color: orange;
    background-color: yellowgreen;